* {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(59, 79, 255);
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
